.products-section {
    padding-top: 50px;
    .product {
        margin: 15px 0;
        img {
            width: 100%;
            height: auto;
            max-width: 300px;
        }
        p {
            margin: 0;
        }
    }
    .category-meta {
        *{
            display: inline-block;
            vertical-align: middle;
        }
        .product-count {
            font-size: 14px;
            font-weight: light;
            margin-left: 20px;
        }
    }

    .sort-section {
        select {
            margin: 1.17em 0;
        }
    }
    
}

.filter-section {
    position: fixed;
    top: 50px;
    left: 0;
    width: 16.666667%;
    bottom: 0;
    overflow: auto;
    background-color: #eee;
    border-right: 1px solid #dedada;
    padding-left: 10px;
    padding-top: 10px;
}