header {
    height: 50px;
    background-color: #6d6d6d;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 9;
    h1 {
        display: inline-block;
        color: #fff;
        padding: 7px;
        margin: 0;
    }
}

.filter-section {
    position: fixed;
    top: 50px;
    left: 0;
    width: 16.666667%;
    bottom: 0;
    overflow: auto;
    background-color: #eee;
    border-right: 1px solid #dedada;
}

.products-section {
    padding-top: 50px;
    .product {
        margin: 15px 0;
        img {
            width: 100%;
            height: auto;
            max-width: 300px;
        }
        p {
            margin: 0;
        }
    }
}